Cria planilha de contas.json
{
  "name": "Cria planilha de contas",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "588f7eb2-344d-4ed3-a29e-b2aa27994d15",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select CODIGO_ITEM, ITEM_DESCRICAO\nfrom CADASTRO_ITEM_FISCAL\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "9af083fb-e206-4b62-8f6d-b3598ebcc05d",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "oBrQcLEx95uVXk5o",
          "name": "Microsoft SQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1s2DTGzudvePR5Ep5qsi5PHZKtVt3pEnKq3xE37PjdK0",
          "mode": "list",
          "cachedResultName": "Planilha sem título",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s2DTGzudvePR5Ep5qsi5PHZKtVt3pEnKq3xE37PjdK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s2DTGzudvePR5Ep5qsi5PHZKtVt3pEnKq3xE37PjdK0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Codigo do item ": "={{ $json.CODIGO_ITEM }}",
            "Desc item": "={{ $json.ITEM_DESCRICAO }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Codigo do item ",
              "displayName": "Codigo do item ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Desc item",
              "displayName": "Desc item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "6c01d08d-245b-406f-bac9-1958dd3151c6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8kdqwiZxQAl0uvOH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "42cb05ad-ac7e-49e0-bd3d-52455dabc721",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9dfd0acbb8262042acf20bd8e87246f186841e2cce4fb92bf2575b90748f88c"
  },
  "id": "jaGvp01e7hqwG5xPeGhG9",
  "tags": []
}